@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: linear-gradient(to right, rgb(51, 10, 85), rgb(35, 3, 94));

    
}

main{
    margin: auto;

    background-color: white;

    padding: 2em;

    border-radius: 2em;

    width: 800px;

    
}

h1, h2{
    font-size: 3em;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;

    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: justify;
    
    
}

div{
    text-align: center;
}

p#unico{
    text-align: center;
}

#descricao{
    text-indent: 20px;
}