@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body{
    font-family: 'Times New Roman', Times, serif;
    
    background-image: linear-gradient(to left, rgb(53, 14, 85), rgb(24, 24, 100));

    margin: 0px;

    

    
}

header {

    box-shadow: 1px 1px 10px black;
    background-color: aliceblue;

    margin: 10px;

    padding: 20px;

    border-radius: 10px;


}

header > h1{
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 3em;
    font-weight: lighter;
    font-style: italic;
}

nav{
    background-color: rgb(152, 182, 207);
    
    padding: 5px;

    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.384);


}

nav > a{
    margin: 50px;

    text-decoration: none;
    color: blue;
    font-weight: normal;

}

nav > a:hover{
    color: blueviolet;
    
    text-decoration: underline;

    

}

main{
    box-shadow: 1px 1px 10px black;

    border-radius: 10px;
    background-color: aliceblue;

    padding: 10px;

    margin: 10px;
}

#assuntos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    
}

span{
    margin: 5%;
}

#noticias{
    padding: 10px;

    margin: 10px;


}

article > p{
    text-indent: 20px;

}

aside {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;

    text-align: right;
}

footer{
    
    background-color: black;
    padding: 15px;

    color: white;
    text-align: center;
    height: auto;
    margin: auto;

}

footer > p{
    margin: 0;
}