@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

body{
    
    border: 0;
    margin: 0;
}

header{
    background-color: black;
    height: 250px;
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

}

h1{
    font-family: 'Passion One', 'cursive';
    font-size: 5em;
}

h2{
    font-size: 1.3em;
}

p{  
    font-family: 'Sriracha';
    font-size: 2.5em;
}

a{
    text-decoration: none;
    color: white;
}

.fundo-branco{
    padding: 20px;
    height: fit-content;
    
    background-color: white;
}

.img1{
    display: flex;
    align-items: center;
    height:700px;
    background: white url(image/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}

.img2{
    display: flex;
    align-items: center;
    height:700px;
    background: white url(image/background002.jpg) center center no-repeat fixed;
    background-size: 100% 100%;
}

.p-img{
    font-family: 'Sriracha', 'cursive';
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(43, 43, 43, 0.603);
    color: white;
    margin: 0;
    font-size: 2.5em;
}

#pe{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    margin: 0;
    color: white;
}

footer{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100px;
    
}
